// placeholder selector
// input,textarea
%def-form-text {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-sizing: border-box;
}

//checkbox,radiobtn
%def-form-element {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;

	label {
		min-height: 20px;
		padding-left: 20px;
		margin-bottom: 0;
		font-weight: normal;
		cursor: pointer;
	}
}
%def-form-element__part {
	position: absolute;
	margin-left: -20px;
	margin-top: 4px;
}
%def-form-element__inline {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: normal;
	cursor: pointer;
}
%def-form-element--disabled {
	cursor: not-allowed;
}

// Input
//
// Markup:
// <input type="text" class="c-form-control" placeholder="Text input">
//
// Styleguide 10.1
input.c-form-control {
	@extend %def-form-text;
}

// Textarea
//
// Markup:
// <textarea class="c-form-control" rows="3" placeholder="Textarea"></textarea>
//
// Styleguide 10.2
textarea.c-form-control {
	@extend %def-form-text;
	height: auto;
}

// Checkbox
//
// 非活性時はis-disabledを付与すること。<br>
//
// Markup:
// <div class="c-checkbox">
// <label>
// <input type="checkbox" value="">
// Option one is this and that&mdash;be sure to include why it's great
// </label>
// </div><!-- /.c-checkbox" -->
// <div class="checkbox is-disabled">
// <label>
// <input type="checkbox" value="" disabled>
// Option two is disabled
// </label>
// </div><!-- /.c-checkbox" -->
//
// Styleguide 10.2

// Checkbox inline
//
// 非活性時はis-disabledを付与すること。<br>
//
// Markup:
// <label class="c-checkbox-inline">
// <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
// </label>
// <label class="c-checkbox-inline">
// <input type="checkbox" id="inlineCheckbox1" value="option1"> 2
// </label>
// <label class="c-checkbox-inline is-disabled">
// <input type="checkbox" id="inlineCheckbox3" value="option3" disabled> 3
// </label>
//
// Styleguide 10.3
.c-checkbox {
	@extend %def-form-element;
}
.c-checkbox-inline {
	@extend %def-form-element__inline;
}
.c-checkbox input[type="checkbox"],
.c-checkbox-inline input[type="checkbox"] {
	@extend %def-form-element__part;
}
input[type="checkbox"][disabled],
input[type="checkbox"].is-disabled {
	@extend %def-form-element--disabled;
}
.c-checkbox.is-disabled label {
	@extend %def-form-element--disabled;
}
.c-checkbox-inline.is-disabled {
	@extend %def-form-element--disabled;
}

// Radiobtn
//
// 非活性時はis-disabledを付与すること。<br>
//
// Markup:
// <div class="c-radio">
// <label>
// <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
// Option two can be something else and selecting it will deselect option one
// </label>
// </div>
// <div class="c-radio is-disabled">
// <label>
// <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
// Option three is disabled
// </label>
// </div>
//
// Styleguide 10.4

// Radiobtn inline
//
// 非活性時はis-disabledを付与すること。<br>
//
// Markup:
// <label class="c-radio-inline">
// <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
// </label>
// <label class="c-radio-inline">
// <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
// </label>
// <label class="c-radio-inline is-disabled">
// <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled> 3
// </label>
//
// Styleguide 10.5
.c-radio {
	@extend %def-form-element;
}
.c-radio-inline {
	@extend %def-form-element__inline;
}
.c-radio  input[type="radio"],
.c-radio-inline input[type="radio"] {
	@extend %def-form-element__part;
}
input[type="radio"][disabled],
input[type="radio"].is-disabled {
	@extend %def-form-element--disabled;
}
.c-radio.is-disabled label {
	@extend %def-form-element--disabled;
}
.c-checkbox-inline.is-disabled {
	@extend %def-form-element--disabled;
}


